In [2]:
print("hello markdown")

hello markdown

# python basics
### python 3.7
- scrpting
- obect oriented
- functional

In [3]:
# python comment
print(" hello","!", end=" ") # basic (output end =" ") can print in one line
print("Hello python") #basic output

 hello ! Hello python

### Assignment

In [4]:
n1 = 123 # single variable assignmentand
n2 = n3 = n4 = n1            # multi variable assignment of same value
print(n3)
a, b, c, d = 10, 20, 30, 40 #multi variable 
print(a, b, c, d)

123
10 20 30 40

### arithmetic operation
- +
- - 
- *
- %

In [5]:
atoms = 10 ** 20
print(atoms)

100000000000000000000

In [6]:
atoms = 10 ** 20
print(atoms)

100000000000000000000

In [7]:
a=10**20
print(a)

100000000000000000000

In [8]:
b=2**2
print(b)

4

### conditionals

In [19]:
if atoms < 10 ** 8:
    print("true")
else:
    print("false")

true

###  data type
- int
- float
- string
- double

In [13]:
type(a)
s1  = "python"
type(s1)
f1 = 12.234
type(f1)

float(str(int(f1)))

12.0

In [20]:
# calcualte the square root of a number
n1 = 123
n1 ** 0.5

11.090536506409418

In [22]:
# caculate the number of nano seconds in given year(considering leap year logic
year = 2019
if year % 400 == 0 or (year % 100 != 0 and year %4 ==0):
    print(366 * 24 *60 * 60 *(10**9))
else:
    print(365 * 24 * 60 * 60 *(10**9))

31536000000000000