In [ ]:
text=input()
reverse_text=text[::-1]
#print(reverse_text)
for char in reverse_text:
    print(char)

In [ ]:
[print(char) for char in input()[::-1]]

In [ ]:
#Rajasekhar Telukutla
#T. Rajasekhar
first_lastname=input()
firstname,lastname=first_lastname.split(" ")[::-1]
print(lastname[0],first_lastname,sep=". ")

In [ ]:
# 90 80 100
marks=input()
marks_list=list(map(int,marks.split(" ")))
print(sum(marks_list)//len(marks_list))

### practice

In [59]:
s=input()
s2=input()
print(s+s2)

67
98
6798

In [60]:
s="123"
s2= int(s)
print(s2,type(s),type(s2))

123 <class 'str'> <class 'int'>

In [61]:
s1="1"
s2='3'
print(int(s1)+int(s2))

4

### string in python

In [133]:
s="pythonprogramming"
print(len(s))

17

In [ ]:
s[16]

In [ ]:
s[-3]

In [ ]:
s[0]='a' # it doesnnot change the string value

In [ ]:
s

In [134]:
s[0:6]

'python'

In [135]:
s[7:18:2]

'rgamn'

In [ ]:
s[6:0:-1]

In [136]:
s[6::]

'programming'

In [ ]:
s[:]

In [ ]:
s[::-1]

### string methods

In [137]:
s="python"
print(s.upper())

PYTHON

In [138]:
s="python"
s=s.upper()
print(s)

PYTHON

In [139]:
print(s.lower())

python

In [ ]:
print(s)

### str.startswith(sub_string)

In [140]:
s="python"
print(s.startswith('k'))

False

In [2]:
main = 'python'
sub = 'p'
print(main.startswith(sub))

True

In [8]:
main ='python'
sub = 'P'
print(main.startswith(sub.swapcase()))

True

In [14]:
main = "python programming"
print(main.startswith('programming'))

False

In [15]:
main = "python programming"
print(main.endswith('ing'))

True

In [19]:
# str.isdigit

s="33"
print(s.isdigit())

True

In [21]:
s =input('enter the number')
if s.isdigit():
    print('success',s)
else:
    print('invalid')

enter the number123w
invalid

#### str.split()

In [23]:
s = 'python programming'
result = s.split()
print(result,type(result))

['python', 'programming'] <class 'list'>

In [24]:
s = 'python programming'
result = s.split()
print(result[1])

programming

In [31]:
# str.lstrip()

s = "  Rajasekhar     "
count = s.lstrip() # lstrip will remove the space which we have at left side of the string
j=s.rstrip()
print(len(s),len(count),count,len(j),j)

17 15 Rajasekhar      12   Rajasekhar

In [32]:
s = "   rajasekhar  "
count=s.strip()
print(len(s),len(count),count)

15 10 rajasekhar

#### str.isupper()

In [34]:
s="python"
print(s.isupper())

False

In [36]:
s="PYTHON"
print(s.islower())

False

####  str.isalpha()

In [37]:
s='python'
print(s.isalpha()) # it check that given string having all char valur or any int values

True

In [39]:
s='python PROGRAMMING'
print(s.swapcase())

PYTHON programming

In [40]:
s="python programming"
print(s.title())

Python Programming

In [41]:
s="python"
print(s.find('o'))

4

In [43]:
s= "Telukutla Rajasekhar Reddy"
print(s.find('Rededy'))

-1

#### str.replace(old,new)

In [46]:
s='python'
print(s.replace('n','oon')) # searching  a letter

pythooon

#### str.rfind(sub)

In [48]:
s='python programming'
print(s.rfind('o')) # reverse search

9

####  str.index()

In [52]:
s = 'pyhton'
print(s.index('o'))

4

##### str.join(sequence or collection of items)

In [54]:
s=['p','y','t','h','o','n']
print("#".join(s))

p#y#t#h#o#n

In [56]:
s='apssdc'
s.upper()
print(s)

apssdc

In [58]:
s='python'
t=2
n=5
for i in range(1,n+1):
    print(t,"*",i,"=",t*i)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

## Python Data Structures

1. types of Data structure
        1. List
        2. Tuples
        3. Dictionary
        4. Sets

In [65]:
li=[1,'asd',23.4]
li.append(89)
li

[1, 'asd', 23.4, 89]

In [66]:
li.insert(2,34)
li

[1, 'asd', 34, 23.4, 89]

In [68]:
li[1]=23
li

[1, 23, 34, 23.4, 89]

In [69]:
li[3]=39.8
li

[1, 23, 34, 39.8, 89]

In [70]:
li.pop(3) # remove the element by using index 
li

[1, 23, 34, 89]

In [71]:
li.remove(23) # remove the element by using value
li

[1, 34, 89]

In [72]:
dir(li)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [73]:
li.clear()

In [74]:
li

[]

In [75]:
del li1

NameError: name 'li1' is not defined

In [76]:
li=[1,'aasd',34.4,'23wd']
li

[1, 'aasd', 34.4, '23wd']

In [77]:
del li[1]
li

[1, 34.4, '23wd']

In [78]:
li

[1, 34.4, '23wd']

In [79]:
li=[5,1,8,4,9,3]
li.sort()
li

[1, 3, 4, 5, 8, 9]

In [83]:
li.sort(reverse=True)
li

[9, 8, 5, 4, 3, 1]

In [84]:
li[::-1]

[1, 3, 4, 5, 8, 9]

In [85]:
li.reverse()
li

[1, 3, 4, 5, 8, 9]

In [86]:
li

[1, 3, 4, 5, 8, 9]

In [87]:
cli=li
print(cli,li)

[1, 3, 4, 5, 8, 9] [1, 3, 4, 5, 8, 9]

In [88]:
cli.append(345)

In [89]:
cli

[1, 3, 4, 5, 8, 9, 345]

In [90]:
li

[1, 3, 4, 5, 8, 9, 345]

In [92]:
cli2=li.copy()
print(cli2,li)

[1, 3, 4, 5, 8, 9, 345] [1, 3, 4, 5, 8, 9, 345]

In [93]:
cli2.pop(3)
cli2

[1, 3, 4, 8, 9, 345]

In [94]:
li

[1, 3, 4, 5, 8, 9, 345]

In [95]:
li.extend(cli2)
li

[1, 3, 4, 5, 8, 9, 345, 1, 3, 4, 8, 9, 345]

In [96]:
cli2

[1, 3, 4, 8, 9, 345]

In [97]:
li

[1, 3, 4, 5, 8, 9, 345, 1, 3, 4, 8, 9, 345]

In [98]:
cli2.append(li)
cli2

[1, 3, 4, 8, 9, 345, [1, 3, 4, 5, 8, 9, 345, 1, 3, 4, 8, 9, 345]]

In [102]:
cli2[6] # it give the sublist of cli2and

[1, 3, 4, 5, 8, 9, 345, 1, 3, 4, 8, 9, 345]

In [103]:
cli2[::-1]

[[1, 3, 4, 5, 8, 9, 345, 1, 3, 4, 8, 9, 345], 345, 9, 8, 4, 3, 1]

In [104]:
cli2[3][2]

TypeError: 'int' object is not subscriptable

In [105]:
cli2

[1, 3, 4, 8, 9, 345, [1, 3, 4, 5, 8, 9, 345, 1, 3, 4, 8, 9, 345]]

In [124]:
li3=[1,2,2,3,3,4,4,5,5]
li3

[1, 2, 2, 3, 3, 4, 4, 5, 5]

In [110]:
li3.count(1)

1

In [126]:
for i in [8,9,7]:
        li3.insert(1,i)
print(li3)

[1, 7, 9, 8, 2, 2, 3, 3, 4, 4, 5, 5]

In [120]:
li3

[8, 7, 9]

In [121]:
print(sum(li3),max(li3),min(li3))

24 9 7

In [128]:
l=list()
l

[]

In [131]:
# 3 input
# output 1: 4 2 5 6 7
# output 2: 1 2 3 4 5 6
t=int(input())
for i in range(t):
        li=list(map(int,input().split()))
        print(sum(li))

3
2 3 4 5 6
20
34 56 78
168
123 456
579